<!-- Footer Section -->
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <address>
                    Address: Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                    Email: <a href="mailto:support@novabank.com">supportnovabank.com</a><br>
                    Phone: <a href="tel:+18001234567">+1 (800) 123-4567</a>
                </address>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <a href="#" class="me-3" aria-label="Facebook" title="Follow us on Facebook"><i
                        class="bi bi-facebook fs-2"></i></a>
                <a href="#" class="me-3" aria-label="Twitter" title="Follow us on Twitter"><i
                        class="bi bi-twitter fs-2"></i></a>
                <a href="#" class="me-3" aria-label="LinkedIn" title="Follow us on LinkedIn"><i
                        class="bi bi-linkedin fs-2"></i></a>
            </div>
        </div>
    </div>
</footer>