<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description"
    content="Empower your financial future with our secure and user-friendly banking system. Manage your accounts, transactions, and more with ease.">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Home | Nova Bank">
  <meta property="og:description"
    content="Empower your financial future with our secure and user-friendly banking system.">
  <meta property="og:image" content="banking-hero.jpg">
  <title>Home | Nova Bank</title>
  <!-- Favicon -->
</head>

<body>
  <app-temporary-banner />
  <app-announcement-banner />
  <app-header />
  <div class="navbar-nav ms-3" hidden>
    <!-- Theme Toggle Button -->
    <button class="btn me-2" (click)="switchToLightTheme()">Light Theme</button>
    <button class="btn me-2" (click)="switchToDarkTheme()">Dark Theme</button>
    <button class="btn me-2" (click)="switchToXmasTheme()">Xmas Theme</button>
  </div>
  <app-hero-section />
  <app-features-section />
  <app-testimonials-section />
  <app-cta-section />
  <app-footer />
</body>
</html>